.wholeskills{
  margin: 100px;
  display: grid;
  grid-template-columns: 30% 20% 50%;
  
}


.skills-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
  grid-row-start: 1;
  grid-column-start: 1;
}

.circle, .littlecircle {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.circle {
  width: 500px;   /* 2 × radius = 2 × 250 */
  height: 500px;
}

.littlecircle {
  width: 200px;   /* 2 × radius = 2 × 100 */
  height: 200px;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orbit-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
}

.orbit-logo {
  width: 75px;
  height: 75px;
  display: block;
}

.rightDiv{
  width: 700px;
  height: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  grid-column-start: 3;
  padding: 15px;
  position: relative;
}

.littleflowers{
  height: 90px;
  width: auto;
  position: absolute;
  left: 90%;
  top: -5%;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
}

.parcours{
  font-size: 2rem;
  font-weight: 1000;
}

.hate{
  font-weight: 900;
}

.ticker {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.ticker-track {
  display: flex;
  width: fit-content;
  animation: scroll 13s linear infinite;
}

.ticker-group {
  display: flex;
  width: fit-content;
  white-space: nowrap;
}

.stack {
  border: solid 1px rgba(171, 171, 171, 0.87);
  color: rgba(171, 171, 171, 0.87);
  border-radius: 17px;
  padding: 1px 12px;
  margin-right: 12px; /* espacement propre */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
}

/* pause au hover */
.ticker:hover .ticker-track {
  animation-play-state: paused;
}

/* animation smooth */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}