.comp{
    background-color: #313030;
}

.BigDiv{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 200px; 
    margin-top: -70px;
}

.LeftDiv{
    margin-left: 75px;
}

.kittyCat {
    height: 600px;
    width: auto;
    filter: drop-shadow(0 0 9px rgba(255, 255, 255, 0.6));
    animation: float 3s ease-in-out infinite;
}

.kittyCatDiv{
    margin-top: 140px;
    position: relative;
}

.mother{
    position: absolute;
    top: 59.5%;
    left: 42%;
    font-weight: 800;
    color: #AE6875;
    display: inline-block;
    transform: rotate(3deg);
}

.stword{
    display: inline-block; 
    transform: rotate(-6deg);  
}

.ndword{
    display: inline-block; 
    transform: rotate(6deg); 
}

.TextOnly{
    margin-top: 170px;
    margin-left: 20px ;
}

.firstWords{
    font-size: 2rem;
}

.nameWords{
    font-size: 1.5rem;
}

.youssef{
    color: #AE6875;
}

.lastWords{
    font-size: 1.8rem;
    margin-top:25px;
}

.devWords{
    color: #AE6875;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.logos1,
.logos2,
.logos3,
.logos4{
    height: 75px;
    width: auto;
    transition: transform 0.3s ease;
    border: solid 2px #AE6875;
    border-radius: 50%;
}

.logos4:hover,
.logos3:hover,
.logos2:hover,
.logos1:hover {
    transform: scale(1.2);
    border-radius: 50%;
}

.logos44,
.logos33,
.logos22,
.logos11 {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.tootltip4,
.tootltip3,
.tootltip2,
.tootltip1{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);

    background-color: #AE6875;
    color: white;
    padding: 12px;
    border-radius: 5px;
    white-space: nowrap;
    height: 15px;
    display: flex;
    align-items: center;
}

.logos44:hover .tootltip4,
.logos33:hover .tootltip3,
.logos22:hover .tootltip2,
.logos11:hover .tootltip1 {
    visibility: visible;
    opacity: 1;
}



.bubbles {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% ;
    
    margin-top: 50px;
}

.lastsentance{
    margin-top: 100px;
    border: solid 1px;
    width: 240px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    font-size: 0.9rem;
}

.lastsen{
    color: rgba(255, 255, 255, 0.87)
}

.lastsentance:hover{
    cursor: pointer;
    transform: scale(1.1) ;
    transition: transform 0.2s ease;
}

.decouvrez{
    color :#AE6875
}

@keyframes appear {
    from {
        opacity : 0;
        scale: 0.5;
    } tp {
        opacity: 1 ;
        scale: 1;
    }
}

@keyframes float {
  0% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(2px);
  }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}
