.card {
    height: auto;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap : 50px;
    padding-bottom: 70px;
    padding-top: 70px;
}

.projectlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.imgDiv {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    
}

.img {
    height: 250px;
    width: auto;
    border-radius: 15px;
}

.imgDiv .img {
    object-fit: cover;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.descriptionhover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 2; /* ← AJOUTE ÇA */

    padding: 20px;
    color: white;
    font-size: 2rem;
    font-weight: 1000;
    text-align: center;

    color: white;
    font-size: 16px;
    text-align: center;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;

    background: rgba(0, 0, 0, 0.6); 
}

.imgDiv:hover .img {
    opacity: 0.3;              
    transform: scale(1.05);   
}

/* Le texte apparaît */
.imgDiv:hover .descriptionhover {
    opacity: 1;
    transform: translateY(0);
}

.githubword{
    color: #AE6875 ;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.githubword:hover{
    transform: scale(1.2);
    transition: transform 0.4s ease;
}

.logodiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.logostack{
    height:33px;
    width: auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(45, 45, 45);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}