
.skills{
  margin-top:300px;
  margin-bottom: 250px;
}

.projectext{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
  padding-bottom: 100px;
}

.sentance{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 700px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.projectdiv{
  padding-bottom: 150px;
}

.projectplace{
  background-color: #313030;
  margin-top: 100px;
}

@media (min-width: 640px) {
  .monTexte {
    font-size: 4.5rem;
  }
}

@media (min-width: 768px) {
  .monTexte {
    font-size: 6rem;
  }
}

@media (min-width: 1024px) {
  .monTexte {
    font-size: 8rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

