

.introLogo {
  height: 400px;
  width: 400px;
  animation: spin 20s linear infinite;
  margin-bottom: 20px;
}

.introDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  gap: 50px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.whole {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

