

.introLogo {
  height: 400px;
  width: 400px;
  animation: spin 20s linear infinite;
  margin-bottom: 75px;
}

.introDiv {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  gap: 50px
}

.whole {
    height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

